:root {
    font-family: 'Quicksand', sans-serif;
    color: #F9FFDD;
    font-size: 16px;
}

.wrapper {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conteiner {
    display: grid;
    max-width: 1050px;
    height: 95vh;
    margin: auto;
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
}

header {
    display: inline-grid;
    width: 95%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    grid-area: header;
}

.miniaturka {
    display: inline-block;
    width: 100px;
    height: 100px;
    justify-self: start;
    margin: auto 50px;
    border-radius: 50%;
    opacity: 0.9;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar-button {
    display: inline-block;
    width: 80px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgba(249, 255, 221, 0.3); 
}

.content {
    width: 95%;
    margin: auto auto;
    height: 100%;
    grid-area: content;
}

.h1-holder {
    display: block;
    width: 50%;
    padding: 10px 10px;
    margin: auto auto;
}

.content-h1 {
    font-size: 2rem;
    text-align: center;
}

.content-h2 {
    font-size: 1.5rem;
    text-align: center;
}

footer {
    width: 95%;
    height: calc(100%-15px);
    margin: auto auto;
    grid-area: footer;
    text-align: center;
    background-color: rgba(249, 255, 221, 0.3);
    font-weight: bold;
    color:#1D381F;
}


@media (max-width: 750px) {
    header {
        display: inline-grid;
        width: 95%;
        grid-template-columns: 1fr;
        margin: auto;
        grid-area: header;
    }

    .miniaturka {
        display: inline-block;
        width: 100px;
        height: 100px;
        justify-self: center;
        margin: auto 50px;
        border-radius: 50%;
        opacity: 0.9;
    }

}
