:root {
    font-family: 'Quicksand', sans-serif;
    color: #F9FFDD;
    font-size: 16px;
}

.wrapper {
    background-image: url(img/background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conteiner {
    display: grid;
    max-width: 1200px;
    height: 95vh;
    margin: auto;
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
}

header {
    display: inline-grid;
    width: 95%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    grid-area: header;
}

.miniaturka {
    display: inline-block;
    width: 100px;
    height: 100px;
    justify-self: start;
    margin: auto 50px;
    border: solid 1px #F9FFDD;
    border-radius: 50%;
    opacity: 0.9;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.navbar-button {
    display: inline-block;
    width: 5rem;
    padding: 0.2rem;
    margin: 0.3rem;
    text-align: center;
    text-decoration: none;
    background-color: rgba(249, 255, 221, 0.2);
    border: 1px solid rgba(0%, 0%, 0%, 50%);
}

.navbar-button:hover {
    background-color: rgba(249, 255, 221, 0.9);
    border: 1px solid rgba(0%, 0%, 0%, 50%);
}

a.nav-link:link, a.nav-link:visited {
    text-decoration: none;
}

p {
    color: #1D381F;
    text-align: center;
    font-size: 0.8rem; 
}

.content {
    width: 95%;
    margin: auto auto;
    height: 100%;
    grid-area: content;
}

.h1-holder {
    display: block;
    position: relative;
    width: 50%;
    padding: 10px 10px;
    margin: auto auto;
}

.content-h1 {
    font-size: 2rem;
    text-align: center;
}

.content-h1 span{
    display: block;
    overflow: hidden;
    display: block;
    letter-spacing: 1rem;
    animation: texttransform 2s ease-in-out;
}

@keyframes texttransform {
    0% {
        color:transparent;
        letter-spacing: 15rem; 
    }
    30% {
        letter-spacing: 2rem;
    }
    85% {    
        letter-spacing: 1rem;
    }
    100% {
    }
}

.content-h2 {
    font-size: 1.2rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.content-h2 span{
    display: block;
    position: relative;
    top:-4rem;
    letter-spacing: 0.2rem;
    animation: texth2 2s ease-in-out 1s forwards;
}

@keyframes texth2 {
    0% {top: -4rem;}
    100% {
        top: 0px;
    }
}

.about-me-box {
    display: none;
    width: 60%;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    font-weight: bold;
    background-color: rgba(249, 255, 221, 0.5);
}

#contact-box {
    display: none;
    width: 60%;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    font-weight: bold;
    background-color: rgba(249, 255, 221, 0.5);
}

#linkdin-holder {
    display: none;
    width: 60%;
    margin: auto;
    border: 2px solid red;
}

.center {
    margin: auto;
}

footer {
    width: 95%;
    height: calc(100%-15px);
    margin: auto auto;
    grid-area: footer;
    text-align: center;
    background-color: rgba(249, 255, 221, 0.3);
    font-weight: bold;
    color:#1D381F;
}


@media (max-width: 750px) {
    :root {
        font-size: 12px;
    }

    .conteiner {
        grid-template-rows: auto 1fr 100px;
    }

    header {
        display: inline-grid;
        width: 95%;
        height: auto;
        grid-template-columns: 1fr;
        margin: auto;
        grid-area: header;
    }

    .miniaturka {
        display: inline-block;
        width: 80px;
        height: 80px;
        justify-self: center;
        margin: 0.5rem auto;
        border-radius: 50%;
        opacity: 0.9;
    }

}
