* {
    --detail-color: #83781B;
    --detail-background-color: #4B4737;
    --component-background-color: #3D4C1F;
    --main-background-color: #B0AB99;
    --hoover-color: #008B77;
    --active-color: #00C2AB;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0.05rem;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    background: transparent;
    color: var(--detail-color);
}

a {
    color: var(--detail-color)
}

a:hover {
    color: var(--hoover-color);
}

p {
    text-align:center;
    padding: 0.5rem;
}

.solid-border {
    border: 1px solid var(--detail-color);
    background-color: var(--component-background-color);
}

.app-conteiner {
    background-color: var(--main-background-color);
    min-height: 100vh;
}

.app-content {
    position: relative;
    width: 95%;
    max-width: 900px;
    height: 100%;
    background-color: var(--detail-background-color);
    margin: 0 auto;
}

.content-main-conteiner {
    height: 100vh;
    display: grid;
    grid-template-rows: 3rem auto 2rem;
    grid-gap: 0.5rem;
}

.content-conteiner {
    position: relative;
    margin: 0.5rem 0.5rem 0 0.5rem;
    overflow: auto;
}

.content-conteiner h1 {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
    .app-content {
        width: 100%;
        margin: 0 0;
    }
}

@media (min-height: 600px) {  
    .content-main-conteiner {
        grid-template-rows: 3rem auto 3rem;
    }
}