.pixelart {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.pixelart p {
    margin-top: 3rem;
    text-align: center;
}
.flex {
    display: flex;
}

.grid {
    display: grid;
}
